@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: lofi --default, wireframe, corporate, dark --prefersdark;
}

/* adding standard html reset for root and body */
html,
body {
  padding: 0;
  margin: 0;
}
